[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pydantic = "*"
pydantic-settings = "*"
pyjwt = "*"
bcrypt = "*"
python-multipart = "*"
python-dotenv = "*"
tzdata = "*"
openpyxl = "*"

[dev-packages]
pytest = "*"
httpx = "*"
ruff = "*"

[requires]
python_version = "3.14"
